@model IEnumerable<Category>

<div class="card text-white">
    <div class="card-header bg-primary">Category List</div>
        <div class="card-body text-dark">
            <div align="right">
                <a asp-action="Create" asp-controller="Category" class="btn btn-info text-white"><i class="fas fa-plus"></i> &nbsp; Create</a>
            </div>
            @{ await Html.RenderPartialAsync("_categoryIndexTable");}
        </div>
    </div>
<div>
   
